.right {
	float: right;
	border-color: black;
	border-style: thin;
}

.right li {
	display: block
}

.sortable {
	padding: 0;
	height: 400px; 
	border-style: solid;
	border-color: black;
}

.sortable li {
	display: inline-block;
	width: ;

}

.parent-zone {
	padding-top: 25px;
}
.drop-zone {
	width: 60%;
	float:left;
	padding: 0;
}

#edit-zone {
	border-style: solid;
	border-color: black;
	float: right;
	width: 30%;
	height: 400px;
	
}

.half {
	width: 50%;
}

.quarter {
	width: 25%;
}

.full {
	width: 100%;
}

.third {
	width: 75%;
}

 li input, li select, li textarea {
	width: 100%;
    resize: none;

}


